{erl_opts, [debug_info]}.

{deps, [
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    {rebar3_format, "1.0.1"}
]}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [delivery_system]}]}.

{plugins, [rebar3_hex, erlfmt]}.

{project_plugins, [rebar3_format, erlfmt]}.

{erlfmt, [write]}.

% running the script will prevent starting supervisors
% {shell, [{script_file, "playground.erl"}]}.
{pre_hooks,
  [{"(linux|darwin|solaris|freebsd)", 
	compile, 
	"cc -O3 -std=c99 -Wall -fPIC -shared -o c_src/helloworld.so c_src/helloworld.c -I/usr/lib/erlang/erts-12.1.5/include -I/usr/lib/erlang/lib/erl_interface-5.1/include"}]}.
