{erl_opts, [debug_info]}.

{deps, [
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    {rebar3_format, "1.0.1"},
    {epgsql, "4.6.0"},
    {jsone, "1.7.0"},
    {poolboy, "1.5.2"},
    {cowboy, "2.9.0"},
    {luerl, ".*", {git, "git://github.com/rvirding/luerl.git", {branch, "master"}}}
]}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [delivery_system]}]}.

{plugins, [rebar3_hex, erlfmt]}.

{project_plugins, [rebar3_format, erlfmt]}.

{erlfmt, [write]}.

% running the script will prevent starting supervisors
% {shell, [{script_file, "playground.erl"}]}.
{pre_hooks, [
    {"(linux|solaris|freebsd)", compile,
        "cc -O3 -std=c99 -march=native -Wall -fPIC -shared -o c_src/uuid.so c_src/uuid.c -I/usr/lib/erlang/erts-12.1.5/include -I/usr/lib/erlang/lib/erl_interface-5.1/include"},
    {"(darwin)", compile,
        "cc -O3 -std=c99 -mcpu=apple-m1 -Wall -fPIC -bundle -flat_namespace -undefined suppress -o c_src/uuid.so c_src/uuid.c -I/opt/homebrew/lib/erlang/erts-12.1.5/include"}
]}.
