{erl_opts, [debug_info]}.

{deps, [
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    {rebar3_format, "1.0.1"}
]}.

{shell,
    % {config, "config/sys.config"},
    [{apps, [delivery_system]}]}.

{plugins, [rebar3_hex, erlfmt]}.

{project_plugins, [rebar3_format, erlfmt]}.

{erlfmt, [write]}.

% running the script will prevent starting supervisors
% {shell, [{script_file, "playground.erl"}]}.
